# Ignore configuration files that may contain sensitive information.
settings.php
drushrc.php
aliases.drushrc.php

# Ignore paths that contain user-generated content.
database
files
private

# Ignore some modules
modules/custom/alumni_profile
modules/custom/staff_profile
modules/custom/student_profile
modules/custom/uom_ldap

# Ignore others
misc
